<div class="specs-wrapper specs-1">
	<div class="specs-list">
		<h4 class="spec-sub-heading">Camera Specs</h4>
		<div class="specs-list-wrapper">
			<div class="key-list specs-keys">
				< <% camInfo.newSpecsKeys.forEach(element=> { %> <div class="key-text">
						<%= element %>
							<% }) %>
					</div>
					<div class="value-list specs-values">
						<% camInfo.specs.forEach(element=> { %> <div class="value-text">
								<%= element %>
							</div>
							<% }) %>
					</div>
			</div>
		</div>
		<div class="specs-list">
			<h4 class="spec-sub-heading">Audio / Video</h4>
			<div class="specs-list-wrapper">
				<div class="key-list specs-keys">
					<% camInfo.newAVKeys.forEach(element=> { %> <div class="key-text">
							<%= element %>
						</div>
						<% }) %>
				</div>
				<div class="value-list specs-values">
					<% camInfo.AV.forEach(AVElement=> { %> <div class="value-text">
							<%= AVElement %>
						</div>
						<% }) %>
				</div>
			</div>
		</div>
	</div>
	<div class="specs-wrapper specs-2">
		<div class="specs-list">
			<h4 class="spec-sub-heading">Audio / Video</h4>
			<div class="w-dyn-list">
				<div role="list" class="w-dyn-items">
					<div role="listitem" class="w-dyn-item">
						<div>
							<div class="spec-columns w-row">
								<div class="w-col w-col-3">
									<div>Image Features</div>
								</div>
								<div class="w-col w-col-9">
									<div></div>
								</div>
							</div>
							<div class="spec-columns w-row">
								<div class="w-col w-col-3">
									<div>Video Compression</div>
								</div>
								<div class="w-col w-col-9">
									<div></div>
								</div>
							</div>
							<div class="spec-columns w-row">
								<div class="w-col w-col-3">
									<div>Bitrate</div>
								</div>
								<div class="w-col w-col-9">
									<div></div>
								</div>
							</div>
							<div class="spec-columns w-row">
								<div class="w-col w-col-3">
									<div>Frame Rate</div>
								</div>
								<div class="w-col w-col-9">
									<div></div>
								</div>
							</div>
							<div class="spec-columns w-row">
								<div class="w-col w-col-3">
									<div>Audio Compression</div>
								</div>
								<div class="w-col w-col-9">
									<div></div>
								</div>
							</div>
							<div class="spec-columns w-row">
								<div class="w-col w-col-3">
									<div>Audio Codec Support</div>
								</div>
								<div class="w-col w-col-9">
									<div></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="w-dyn-empty">
					<div>No items found.</div>
				</div>
			</div>
		</div>
		<div class="specs-list">
			<h4 class="spec-sub-heading">Physical Electrical</h4>
		</div>
	</div>