<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>test-view</title>
	</head>
	<body>
		<h1>test view</h1>
		<br>
		<br>
		<div class="test-section">
			<h4>data is...</h4>
			<p>
				<br>
			</p>
		</div>
		<div>
			<ul>
				<% camInfo.featuresList.forEach(function(item){ %>
					
					
					<li>
						<%= item %>
					</li>
					<% }); %>
			</ul>
		</div>
		<div>
			<ul>
			</ul>
		</div>
	</body>
</html>