<div id="cctv" class="categories-holder cctv" data-ix="fade-on-scroll-2">
	<div class="individual-category cctv-categories" id="cctv-categoriesId">
		<a href="/cctv-categories/system-design">
			<div class="cctv-categories category-img"></div>
			<div class="category-name">System design, build & test</div>
		</a>
	</div>
	<div class="individual-category cctv-categories" id="cctv-categoriesId">
		<a href="/cctv-categories/installations">
			<div class="cctv-categories category-img _2"></div>
			<div class="cctv-categories category-name">Installations</div>
		</a>
	</div>
	<div class="individual-category cctv-categories" id="cctv-categoriesId">
		<a href="/cctv-categories/cctv-categories-support">
			<div class="cctv-categories category-img _3"></div>
			<div class="category-name">cctv-categories Support</div>
		</a>
	</div>
	<div class="individual-category cctv-categories" id="cctv-categoriesId">
		<a href="/cctv-categories/cctv-alarm-monitoring">
			<div class="cctv-categories category-img _4"></div>
			<div class="category-name">CCTV and Alarm Monitoring</div>
		</a>
	</div>
	<div class="individual-category cctv-categories" id="cctv-categoriesId">
		<a href="/cctv-categories/training">
			<div class="cctv-categories category-img _5"></div>
			<div class="category-name">Training</div>
		</a>
	</div>
	<div class="individual-category cctv-categories" id="cctv-categoriesId">
		<a href="/cctv-categories/consultancy">
			<div class="cctv-categories category-img _6"></div>
			<div class="category-name">Consultancy</div>
		</a>
	</div>
	<div class="individual-category cctv-categories" id="cctv-categoriesId">
		<a href="/cctv-categories/risk-assessment">
			<div class="cctv-categories category-img _7"></div>
			<div class="category-name">Risk Assessment</div>
		</a>
	</div>
	<div class="individual-category cctv-categories" id="cctv-categoriesId">
		<div class="category-img imglast">
			<div class="tabtxt"><a href="/contact">Get a Quote</a></div>
		</div>
	</div>
</div>